<!doctype html>
<html>
    <head>
        <title>parallaxEffect</title>
        <style>
            body
            {
                margin: 0;
                padding: 0;
                
            }
            .parallax-container
            {
                width: 100%;
                overflow: hidden;
                background: url(https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113_960_720.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        
        <div class="parallax-container">
            <ul id="scene">
                <li class="layer" data-depth="1">
                    <img src="https://mastergolflivestream.com/images/clipart-png-tiger-18.png"/>
                </li>
                <li class="layer" data-depth="0.1">
                    <img style="margin-left: 300px" src="https://ya-webdesign.com/images/peony-clipart-hand-drawn-21.png"/>
                </li>
                <li class="layer" data-depth="0.5">
                    <img width="200px" style="margin-left: 700px;" src="https://www.freepngimg.com/thumb/diamond/1-2-diamond-png-clipart.png"/>
                </li>
            </ul>
        </div>
        
        
        <script src="/js/parallax.js" type="text/javascript"></script>
        <script>
            var scene = document.querySelector('#scene');
            var parallax = new Parallax(scene);
        </script>
    </body>
</html>